.image-item {
  position: relative;
}

.image-item img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-item__btn-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}