.item {
  width: 90%;
  margin: 0 auto;
  padding-top: 70px;
  font-size: 20px;
}
.item li {
  padding: 20px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}
.item a {
  color: white;
  font-size: 18px;
}


